.section-card {
    padding: 5% 0 8%;
 }
 
 .section-card__header {
    margin-bottom: 10px;
    text-align: center;
 }
 
 .section-card__body {
 
 }
 
 .container {
     width: 70%;
     padding: 1%;
     margin-left: auto;
     margin-right: auto;
 }
 
 .title-1 {
     font-size: 30px;
     line-height: 1.3;
     font-weight: 700;
 }
 
 .card-name {
     display: grid;
     grid-template-columns: 2fr repeat(3, 3fr) 1fr ;
     padding: 22px;
     background-color: rgb(209, 217, 224);
     font-weight: 700;
     font-size: 13px;
     line-height: 1.2;
     letter-spacing: 0.2em;
     text-transform: uppercase;
 }
 
 .card-name__title {
     grid-column-start: 2;
 }
 
 .card-name__count {
 
 }
 
 .card-name__price {
 
 }
 
 .product {
     display: grid;
     grid-template-columns: 2fr repeat(3, 3fr) 1fr ;
     padding: 19px;
     background-color: rgb(209, 217, 224);
     font-weight: 700;
     font-size: 13px;
     line-height: 1.2;
    
 }
 
 .card-footer {
     width: 90%;
     display: grid;
     grid-template-columns: 7fr 1fr 1fr;
     padding: 19px;
     
     font-weight: 700;
     font-size: 18px;
     line-height: 1.2;
     letter-spacing: 0.2em;
    
 }
 
 .card-footer__btn {
    
 }
 
 .card-footer__coupon {
     min-height: 30px;
     
    
 }
 
 .card-footer__totaly {
     
 }